@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Favicons -->
    <link href="~/Content/Img/Resources/Logo.gif" rel="icon">
    <link href="~/Content/Img/Resources/Logo.gif" rel="apple-touch-icon">

    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template/bootstrap/css/bootstrap.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template/css/tooplate-style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Template/css/erro.css" asp-append-version="true" />
    <link href='https://fonts.googleapis.com/css?family=Anton|Passion+One|PT+Sans+Caption' rel='stylesheet' type='text/css'>
</head>
<body class="text-center">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <div class="error">
        <div class="container-floud">
            <div class="col-xs-12 ground-color text-center">
                <div class="container-error-404">
                    <h2 class="h1">@ViewBag.Body</h2>
                    <div class="clip"><div class="shadow"><span class="digit thirdDigit"></span></div></div>
                    <div class="clip"><div class="shadow"><span class="digit secondDigit"></span></div></div>
                    <div class="clip"><div class="shadow"><span class="digit firstDigit"></span></div></div>
                </div>
            </div>
            <br />
            <button class="btn btn-outline-info" onclick="backPage()">Quay lại</button>
        </div>
    </div>
    <script src="~/Template/js/jquery.min.js" asp-append-version="true"></script>
    <script src="~/Template/js/background.cycle.js" asp-append-version="true"></script>
    <script src="~/Template/js/error.js" asp-append-version="true"></script>

    @RenderSection("loadingError", required:false)
</body>
</html>