@{
    ViewBag.Title = "Lịch sử giao dịch";
    ViewBag.Main = "Lịch sử giao dịch";
    Layout = "~/Views/Shared/_LayoutArea.cshtml";
}

<section>
    <div class="gap2 gray-bg">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row merged20" id="page-contents">
                        <div class="col-lg-9">
                            <div class="central-meta">
                                <h5 class="f-title"><i class="fa fa-line-chart"></i>Lịch sử giao dịch</h5>
                                <div class="insight-box">
                                    <div class="x_panel">
                                        <div class="x_content" id="echart_transhistory">
                                            <div id="echart_line"></div>
                                        </div>
                                    </div>
                                    <div class="x_panel">
                                        <div class="x_title">
                                            <h2>Thống kê chi tiết</h2>
                                        </div>
                                        <div class="x_content">
                                            <div id="toolbar-control"></div>
                                            <div class="custom-list">
                                                <table id="table-transhis"
                                                       class="table table-responsive w-100 d-block d-md-table"
                                                       data-toolbar="#toolbar-control"
                                                       data-search="true"
                                                       data-search-highlight="true"
                                                       data-search-align="left"
                                                       data-show-refresh="true"
                                                       data-show-toggle="true"
                                                       data-show-columns="true"
                                                       data-show-columns-toggle-all="true"
                                                       data-show-export="true"
                                                       data-show-pagination-switch="true"
                                                       data-sort-class="table-active"
                                                       data-pagination="true"
                                                       data-id-field="maLop"
                                                       data-unique-id="maLop"
                                                       data-page-list="[2, 10, 20, 40, 100, All]"
                                                       data-side-pagination="server"
                                                       data-locale="vi-VN"
                                                       data-toggle="table"
                                                       data-cache="false"
                                                       data-ajax="ajaxGetTransHis">
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Menu right-->
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section ChildStyle{
    <link href="~/Template/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" asp-append-version="true">
    <link href="~/Template/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" asp-append-version="true">
}

@section ChildScript{
    <script src="~/Template/bootstrap/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/Template/bootstrap-table/tableExport.min.js" asp-append-version="true"></script>
    <script src="~/Template/bootstrap-table/bootstrap-table.min.js" asp-append-version="true"></script>
    <script src="~/Template/bootstrap-table/bootstrap-table-locale-all.min.js" asp-append-version="true"></script>
    <script src="~/Template/bootstrap-table/bootstrap-table-export.min.js" asp-append-version="true"></script>
    <script src="~/Template/js/echarts.min.js" asp-append-version="true"></script>
    <script src="~/Template/js/custom_statistic.js" asp-append-version="true"></script>
}